*, body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    padding-bottom: 10px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

p {
    line-height: 1.6;
    text-indent: 10px;
}

h1 {
    text-transform: uppercase;
    font-size: 32px;
    color: blue;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
}

h2 {
    font-size: 26px;
    color: #004d00;
    font-family: Tahoma;
    text-transform: capitalize;
}

h3 {
    font-size: 22px;
    color: green;
    font-family: Tahoma;
    text-transform: capitalize;
}

h4 {
    font-size: 18px;
    color: black;
    font-family: Arial;
    text-transform: capitalize;
}

.container {
    background-color: rgb(204, 221, 239);
    max-width: 800px;
    width: 100%;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

figure {
    text-align: center;
}

figcaption {
    color: #e45353;
    font-size: 14px;
}

.article {
    background-color: rgb(135, 172, 211);
    padding: 20px;
    border-radius: 8px;
}
